---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Red Fish Blue Fish - About";
---

<BaseLayout title={title}>
  <div class="content content--page">
    <h1>About</h1>
    <p class="measured">We were talking about the idea of some kind of collective for a while, but when the
    band was figuring out our first joint show and Martin floated the name
    <b><span class="red">Red Fish</span> <span class="blue">Blue Fish</span></b>,
    it felt like everything was cosmically coming together. Every great project has one of those "eureka!"
    moments and I knew this had to be our cliche. I put up this website a few days later and started
    talking to bands.</p>
    <p class="measured">I think we all love that book because there aren't really any deeper themes. The story starts off with
    a little bit of structure, but then it rapidly diverges into chaos. It feels silly, confusing, yet somehow
    profound all the same. The best part, though, is how Dr. Seuss never bothers to explain why some of the fish
    are red or why some of them are blue in the world he's created – everything just is and it's wonderful.
    And shouldn't life be like that too?</p>
    <p class="measured">We hope the music here invokes curiosity. We hope you stumble on sounds, voices, and influences
    you thought were outside your sphere of interest. The world is a diverse and beautiful place, it's worth taking a
    moment to appreciate it.</p>
    <p class="measured">· Tyler, Bassist in <i>Cadenza</i></p>
  </div>
</BaseLayout>
