---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Red Fish Blue Fish - Contact";
---

<BaseLayout title={title}>
  <div class="content content--page">
    <h1>Contact</h1>
    <p>Reach out to us on social media!</p>
  </div>
</BaseLayout>
