---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Red Fish Blue Fish - History";
---

<BaseLayout title={title}>
  <div class="content content--page">
    <h1>History</h1>
    <p>January 3rd, 2026 is a day</p>
  </div>
</BaseLayout>
