---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Red Fish Blue Fish - Merch";
---

<BaseLayout title={title}>
  <div class="content content--page">
    <h1>Merch</h1>
    <p>Merch coming soon!</p>
  </div>
</BaseLayout>
