---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Red Fish Blue Fish - Shows";
---

<BaseLayout title={title}>
  <div class="content content--page">
    <h1>Releases</h1>
    <p>This page will be setup soon.</p>
  </div>
</BaseLayout>
